{
        "ConsumerKey": "",
        "ConsumerSecret": "",
        "AccessToken": "",
        "AccessSecret": "",
        "Refresh": 2,
        "lists": [
            {"name": "List1", "listID": 1234567},
            {"name": "List2", "listID": 9876543},
            {"name": "List3", "listID": 2223331}
        ]
}
