"Account 1","@someAccount","politics"
"Account 2","@someAccount2","politics"
"Account 3","@someAccount3","sports"
"Account 4","@someAccount4","politics"
"Account 5","@someAccount5","politics"
"Account 6","@someAccount6","sports"
"Account 7","@someAccount7","sports"
"Account 8","@someAccount8","sports"
"Account 9","@someAccount9","politics"
